* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background-color: #eee;
    font-family: 'Oxygen', sans-serif;
}

main {
    display: block;
    background-color: #fff;
    border-radius: 15px;
    width: 600px;
    margin: 50px auto;
    padding: 25px 25px 25px;
    text-align: center;
}

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}

h1 {
    font-size: 35px;
    font-weight: normal;
}

p {
    margin-top: 12px;
    font-size: 15px;
    line-height: 125%;
}

p.date {
    font-size: 30px;
    font-weight: bold;
}

p.time {
    font-family: 'Cousine', monospace;;
    font-size: 50px;
    font-weight: bold;
}

span.correct {
    font-weight: bold;
}

hr {
    background-color: #ccc;
    height: 3px;
    margin: 20px 0;
}

@media (max-width: 700px) {
    body {
        background-color: #fff;
    }
    main {
        border-radius: 0;
        width: auto;
        margin: 0 auto;
        padding: 10px 10px 10px;
    }
}
